body {
  background-color: lightblue;
}

.showAdminLogin {
  background-color: lightgreen;
}

.hideAdminLogin {
  display: none;
}

.loginDiv {
  background-color: yellow;
  height: 200px;
  width: 200px;
}

.AddProductsDiv {
  background-color: yellow;
  height: 200px;
}