.container {
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

li>h3 {
  margin-top: 15px;
  position: absolute;
}

.productImg {
  width: 128px;
  position: relative;
  margin-left: 65px;
  top: 50px;
}

.items>span {
  position: relative;
  top: 80px;
}

.buyItem {
  position: relative;
  margin-left: 95px;
  bottom: 0;
  right: -70px;
  top: 60px;
}

.items {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  background: tomato;
  padding: 15px;
  margin-top: 45px;
  height: 260px;
  width: 200px;
  color: white;
}

ul .items {
  list-style: none;
}